.hidebtn{
    display: none;
}
.showbtn{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 50%;
    display: block;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
}
.sl2flex{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    /* width: 90%; */
    margin: auto;
    margin-top: 20px;
    /* background-color: rgb(252, 227, 217); */
   
    justify-content: center;
    align-items: center;
}
.grid{
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(216, 214, 214);


}
.sl2div{
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(216, 214, 214);
   
    
}
.sl2t1{
    font-size: 18px;
    font-weight: 500;
}
.sl2t2{
    font-size: 14px;
    color: gray;
    font-weight: 500;
}
.sl2div:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.showbtn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media all and (min-width:401px) and (max-width:720px){

    .grid{
        display: flex;
        flex-direction: column;
    }

}