.lb1{
    /* padding-top: 50px; */
    padding-top: 100px;
    text-align: center;
    background-color: rgb(228, 242, 248);
}
.lb2{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 60%;
    margin-top: 30px;
    border-radius: 20px;
    padding: 25px;
    background-color: rgb(243, 230, 225);
}
.lbody{
    
    /* background-color: rgb(228, 242, 248); */
   
}
.lb1>h1{
    font-size: 35px;
    font-weight: bold;
}
.searchcarrier{
   
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: white;
    border-radius: 30px;
   
    /* border: 2px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px ;
    width: 65%;
    margin: auto;
    margin-top: 30px;
}
.searchcarrier>i{
    margin-right: 10px;
    font-size: 20px;
    color: grey;
}
.lbinp1{
    width: 40%;
    padding: 10px 2px;
    outline: none;
}
.lbinp2{
    padding: 10px 2px;
    outline: none;
}
.lbbtn1{
    background-color: rgb(69,126,255);
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.lbbtn2{
    background-color: orangered;
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
option>span{
    color: gray;
}
.lb2grid{
    display: grid;
    grid-template-columns: repeat(2,50px);
    gap: 20px;
}
.lbh3{
    font-size: 18px;
    font-weight: bolder;

}
.lbgray{
    color: gray;
}
.lbblue{
    cursor: pointer;
    color: skyblue;
}
.sl2{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px 10%;
    padding: 10px 30px;
    background-color: rgb(254,249,244);
    border-radius: 20px;
}
.large{
    font-size: 25px;
    font-weight: 500;
}
.med{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.lastsubdiv{
    display: flex;
    gap: 50px;
    padding: 20px 40px;
    width: 80%;
    margin: auto;
    border-radius: 30px;
   
    margin-bottom: 30px;
    background-color: rgb(228, 242, 248);;
    
   
}
.lsd1{
    display: flex;
    gap: 50px;
    align-items: center;
}
.lsearch{
    display: flex;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: white;
    /* border: 1px solid red; */
}
.lsd1>img{
    height: 40%;
}
.imgflex{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.imgflex>img:hover{
    cursor: pointer;
}
.lsearch>button{
    background-color: rgb(94, 94, 189);
    color: white;
    font-weight: 500;
    border-radius: 20px;
    width: 90px;
    padding: 8px 15px;
}
.lslarge{
    font-size: 25px;
    font-weight: 500;
}
.lsgray{
    margin-top: 10px;
    font-size: 14px;
    color: gray;
    font-weight: 500;
    margin-bottom: 10px;

}
@media all and (min-width:401px) and (max-width:720px){

    .lastsubdiv{
        display: block;
    }
    
    .lslarge{
        font-size: 16px;
    }
    .lsd1{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .lsearch{
        max-width: 300px;
    }
    .sl2{
        display: block;
    }
    .lb2{
        display: grid;
    }
    .searchcarrier{
        width: 80%;
    }
    .lbbtn1{
        width: 25%;
        font-size: small;
    }
    .lbinp2{
        width: 20%;
    }
    .lbinp1{
        min-width: 25%;
    }
    .lb2grid{
        justify-content: center;
    }

}