.sl1flex{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    /* background-color: rgb(252, 227, 217); */
   
    justify-content: center;
    align-items: center;
}
.sl1head{
    font-size: 26px;
    font-weight: 550;
}
.mainslider1{
    text-align: center;
    margin-top:30px;
}
.subsl1flex{
    width: 75%;
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.sldiv{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 8px;
    width: 170px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    /* border: 1px solid red; */
}
.sldiv:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}
.hidebtn{
    display: none;
    /* visibility: hidden; */
}
.showbtn{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 50%;
    display: block;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    /* border: 1px solid red; */
}
.showbtn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}
.sl1t1{
    font-size: 16px;
    font-weight: 500;
}
.sl1t2{
    font-size: small;
    color: gray;
}

@media all and (min-width:401px) and (max-width:720px){

    .subsl1flex{
        display: flex;
        flex-direction: column;
    }


}