* {
  /* background-color: #f7f7f7; */
}

.img {
  width: 30px;
  height: 30px;
}
.head_body {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 5rem;
  /* border: 1px solid red; */
  width: 101%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: white;
  position: sticky;
  top: 0%;
  z-index: 1;
}
.header_image {
  width: 25%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.header_info {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apply_btn {
  background-color: #4a90e2;
  color: #fff;
  width: 126px;
  height: 36px;
  border-radius: 2px;
  line-height: 20px;
  font-weight: 500;
  border: none;
}

/* job recommendations css */
.JobRecomandation_template {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 185px;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  width: 75%;
  margin: auto;
  margin-top: 1.5rem;
}
.Checkbox {
  margin-top: 0.2rem;
}
.JobRecomandation_template_values {
  margin-left: 10px;
}
.JobRecomandation_title {
  color: #091e42;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 600px;
}

.JobRecomandation_companyname {
  color: #091e42;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 10px;
}
.year_info {
  margin-top: 10px;
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.jd_location,
.jd_experiance {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.year_info_label {
  font-size: 12px;
  color: #6f7380;
  margin-left: 5px;
}
.llipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
  font-size: 12px;
  margin-top: 2px;
}
.technology {
  margin-top: 10px;
  font-size: 13px;
  color: #6f7380;
}
.hide_show {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 1%;
  margin-top: 19%;
}
.hide_show span {
  margin-left: 8%;
}

/* job style */
.jdinfor_withform {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  /* border: 1px solide red; */
}

/* form style */

.jobForm,
.crc {
  margin-top: 1.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 1.5rem;
  border-radius: 5px;
  height: 300px;
  box-sizing: border-box;
  width: 90%;
  margin-left: 2rem;
}
.jobForm_heading {
  display: flex;
}
.crc {
  height: 330px;
}
.jobForm_hed_name,
.cource_hed_name {
  font-size: 16px;
  font-weight: 500;
  padding-right: 11px;
  color: #091e42;
  margin-bottom: -8px;
  line-height: 24px;
}
.cource_hed_name {
  margin-top: 10px;
}
.jobForm_img {
  height: 80px;
  width: 160px;
}
.Cource_name_info {
  color: #091e42;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1.5rem;
}
.hr_line {
  margin-top: 1.3rem;
}
.li_cource {
  color: #091e42;
  font-size: 12px;
  margin-top: 5px;
}
.cource_char {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.Viewallcource_plan {
  font-size: 14px;
  font-weight: 600;
  color: #4a90e2;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.getjobFormtoggle {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #4a90e2;
  line-height: 20px;
  margin-right: 6px;
}
.charge {
  color: #536777;
  font-size: 12px;
}
.getjobLocationwork {
  margin-top: 1rem;
}
.getjobFormtoggle_span {
  margin-left: 8px;
}
.getjobLocationwork span {
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 4px 12px;
  background-color: #f4f5f7;
  border-radius: 18px;
  height: 24px;
  color: #091e42;
  line-height: 16px;
  text-align: center;
  margin: 8px 9px 0 0;
}

/* successfull */

.succes_icon {
  color: white;
  background-color: #28ad35;
  border-radius: 50%;
}

.Success_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Success {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 1.5rem;
  border-radius: 5px;
  height: 150px;
  box-sizing: border-box;
  width: 93%;
  margin: 2rem;
  border-left: 5px solid #28ad35;
}
.getLink_span {
  font-size: 12px;
  font-weight: 600;
  color: #4a90e2;
  line-height: 20px;
  cursor: pointer;
}
.linear {
  margin-top: 1rem;
}
.callback {
  margin-top: 20px;
  color: #091e42;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: auto;
  text-align: left;
}
.callfree {
  color: #091e42;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  width: 481px;
  text-align: left;
  margin-top: 5px;
}
.checkjob {
  display: flex;
  align-items: center;
}
.ajn_hd {
  display: flex;
  align-items: center;
}
.ajn {
  height: 22px;
  width: 200px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #091e42;
  font-weight: 500;
}

/* cource */
.courceform {
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
}

.successSearch {
  width: 92%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  box-sizing: border-box;
  /* border:1px solid red */
}
.search_job_cnr {
  width: 50%;
  margin-left: 1rem;
}
.Success_container {
  padding: 1.5rem;
  border-radius: 5px;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  margin-left: 0rem;
  /* border:1px solid red */
}
.successSearch_part1 {
  width: 75%;
  box-sizing: border-box;
  /* border:1px solid red */
}
.Succees_cont_heading {
  margin-top: -2.5rem;
}
.save {
  display: flex;
  align-items: flex-end;
  /* border:1px solid red ; */
  margin-top: 8rem;
}
.save span {
  margin-left: 4rem;
}
.SearchBox_form {
  margin-top: 2em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 1rem;
  border-radius: 5px;
}
.headerdescription {
  color: #091e42;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 10px;
  width: 60%;
}
.from_search {
  padding-top: 16px;
  display: inline-block;
  width: 270px;
}
.appBodyText {
  color: #536777;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  margin-top: 24px;
}
.mobileinput {
  background-color: #fff;
  width: 260px;
  height: 36px;
  color: #8993a4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-left: 12px;
  border: 1px solid #ced4dd;
  border-radius: 2px;
  box-sizing: border-box;
}
.sendLink {
  background: #4a90e2;
  border: 1px solid #4a90e2;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px 0 rgb(255 88 92 / 20%);
  box-shadow: 0 2px 6px 0 rgb(255 88 92 / 20%);
  width: 259px;
  height: 36px;
  margin-top: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
}
.appInstallContainerHeaderImage {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  margin-left: 1.5rem;
}
.headerImage {
  position: absolute;
  top: 110px;
  width: 120px;
  height: 90px;
}
.stores {
  margin-top: 16px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.storeImg {
  height: 18px;
  width: 16px;
  vertical-align: middle;
}
.SuccessPageJobapplication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:auto;
  
}
.successfooter {
  bottom: 0;

  /* margin-top:1550px; */
}
.SuccessPagemainstyle{
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.storeLabel {
  margin-left: 9px;
  color: #091e42;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.recmdCources {
  margin-top: 1.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 1.5rem;
  border-radius: 5px;
  height: 570px;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  cursor: pointer;
}
.star {
  margin-top: 2px;
  color: rgb(255, 255, 255);
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("https://static.naukimg.com/s/7/105/i/FilledStars.9bc4e377.svg");
}
.recmdisc {
  font-size: 12px;
  color: #536777;
  margin-top: 10px;
}
.recinfocrc {
  width: calc(100% - 75px);
  float: left;
}
.li_cource_rcm {
  color: #091e42;
  font-size: 12px;
  margin-top: 5px;
  width: 350px;
}
.recmndcrcmap {
  display: flex;
  justify-content: space-between;
}
.courceprodimg {
  width: 60px;
  height: 60px;
  float: right;
  border: 1px solid #f0f0f0;
  margin-top: 30px;
}
.jobfooter {
  margin-top: 2rem;
}
